<% provide(:title, @lesson.name)%>

<div class = "row">
    <h1 class = "well"><a href = "javascript:void(0);"><%= @lesson.name %></a></h1>
</div>

<div class = "row" >
    <%= form_for(@lesson, class: "form-horizontal col-md-6") do |f| %>
        <%= f.fields_for :lesson_words do |builder| %>
        <% lesson_word = builder.object %>
            <div class = "col-md-12 well" id="word_<%= builder.index %>">
                <h3><a href = "javascript:void(0);"><%= lesson_word.word.english %></a></h3>
                <% lesson_word.word.word_answers.each do |word_answer| %>
                    <%= builder.radio_button :word_answer_id, word_answer.id %>
                    <%= builder.label :word_answer_id, word_answer.content, class: "pad" %>
                    <br />
                <% end %>
                <input type="button" value="Next" onclick="display_next('word_<%= builder.index %>');" class= "btn btn-primary next">
            </div>
        <% end %>
        <div id = "submit"></div>
    <% end %>
    <hr />
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('div[id^="word_"]').hide();
    $('#word_0').show();
});

function display_next(target_id) {
    $("#" + target_id).hide();
    var id = $("#" + target_id).attr("id");
    id = id.replace("word_", "");
    id = "word_" + (parseInt(id) + 1);
    $("#" + id).show();
    if (id == "word_19") {
        $(".next").remove();
        $("#submit").html('<input class="btn btn-primary" name="commit" type="submit" value="Submit">');
    }
}
</script>

